/* .svg_tools_header {
  height: 51px;
  background-color: #efefef;
  box-shadow: 0 3px 1px 0 rgba(128, 128, 128, 0.45);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg_image_container {
  width: 800px;
  height: 500px;
  border:1px solid black;
  margin: 0 auto;
}
.message_chat_section img {
  width: 52px;
  margin: 10px;
}
.header_dropdown_section {
  display: flex;
  align-items: center;
}
.dropdown_section {
  background: none !important;
}
.dropdown_down {
  border: none;
  background: none !important;
}
.edit_tools_svg  {
  margin: 0 46px;
}
.edit_tools_svg i {
  width: 30px;
}
.action_buttons {
  display: flex;
}
.green_button {
  background-color: #52ce63;
  color: #ffffff;
  border-radius: 5px;
  margin: 0 5px;
  height: 35px;
}
.blue_button {
  background-color: #009cf9;
  color: #ffffff;
  border-radius: 5px;
  margin: 0 5px;
  height: 35px;
}
.close_button_svg {
  background-color: #000000;
  color: #fff;
  height: 35px;
  border-radius: 5px;
  border: none;

} */

#tools_left {
  left: 242px;
  z-index: 20;
}