<div class="col-md-12">
  <p class="form_heading">Neues Projekt erstellen:</p>
  <form class="form">
    <div class="form-group m-t-40 row">
      <label for="titel-input" class="col-2 col-form-label">Titel</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Geben Sie den Titel für das neue Projekt ein." id="titel-input" value="title" name="title" [(ngModel)]="newProject.title">
      </div>
    </div>
    <div class="form-group row">
      <label for="startdatum-input" class="col-2 col-form-label">Startdatum</label>
      <div class="col-10">
        <input class="form-control" name="init_date" type="date" placeholder="Geben Sie das Startdatum für das neue Projekt ein." id="startdatum-input" [(ngModel)]="newProject.init_date">
      </div>
    </div>
    <div class="form-group row">
      <label for="Beschreibung-input" class="col-2 col-form-label">Beschreibung</label>
      <div class="col-10">
        <input class="form-control" name="description" type="text" placeholder="Geben Sie eine Beschreibung für das neue Projekt ein." id="Beschreibung-input" [(ngModel)]="newProject.description">
      </div>
    </div>
    <div class="form-group row">
      <label for="Bild-input" class="col-2 col-form-label">Projekt - Bild</label>
      <div class="col-10">
        <input class="form-control" name="img_url" type="file" id="Bild-input" [(ngModel)]="newProject.img_url">
      </div>
    </div>
    <div class="form-group row">
      <label for="brands_dropdown" class="col-2 col-form-label">Brand</label>
      <div class="col-10">
        <select [(ngModel)]="newProject.brand_id" class="form-control" name="brands" id="brands_dropdown">
                <option disabled selected>---Wählen Sie eine Brand aus:---</option>
                <option  *ngFor="let brand of brands" value={{brand.id}}>{{brand.brandname}}</option>
          </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="produkt_dropdown" class="col-2 col-form-label">Produkt</label>
      <div class="col-10">
        <select [(ngModel)]="newProject.product_id" class="form-control" name="produkt" id="produkt_dropdown">
                <option value="" disabled selected>---Wählen Sie ein Produkt aus:---</option>
                <option *ngFor="let product of products" value={{product.id}}>{{product.productname}}</option>
          </select>
      </div>
    </div>
    <div class="form-group row btn-wrapper">

      <button id="create_btn" type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="addProject()">Projekt anlegen</button>

    </div>
  </form>
</div>