<div class="col-md-12">
  <p class="form_heading">Neues Projekt erstellen:</p>
  <form class="form">
    <div class="form-group m-t-40 row">
      <label [ngClass]="mtitle === true ? 'missing': ''" for="titel-input" class="col-2 col-form-label">Titel*</label>
      <div class="col-10 col-md-6">
        <input class="form-control" type="text" placeholder="Geben Sie den Titel für das neue Projekt ein." id="titel-input"
          value="title" name="title" [(ngModel)]="newProject.title">
      </div>
    </div>
    <div class="form-group row">
      <label [ngClass]="minit === true ? 'missing': ''" for="startdatum-input" class="col-2 col-form-label">Startdatum*</label>
      <div class="col-10 col-md-6">
        <input class="form-control" name="init_date" placeholder="Geben Sie das Startdatum für das neue Projekt ein."
          type="text" onfocus="(this.type='date')" id="startdatum-input" [(ngModel)]="newProject.init_date">
      </div>
    </div>
    <div class="form-group row">
      <label [ngClass]="mend === true ? 'missing': ''" for="enddatum-input" class="col-2 col-form-label">Enddatum*</label>
      <div class="col-10 col-md-6">
        <input class="form-control" name="end_date" placeholder="Geben Sie das Enddatum für das neue Projekt ein." type="text"
          onfocus="(this.type='date')" id="enddatum-input" [(ngModel)]="newProject.end_date">
      </div>
    </div>
    <div class="form-group row">
      <label for="Beschreibung-input" class="col-2 col-form-label">Beschreibung</label>
      <div class="col-10 col-md-6">
        <input class="form-control" name="description" type="text" placeholder="Geben Sie eine Beschreibung für das neue Projekt ein."
          id="Beschreibung-input" [(ngModel)]="newProject.description">
      </div>
    </div>
    <div class="form-group row">
      <label [ngClass]="mmanager === true ? 'missing': ''" for="Manager-input" class="col-2 col-form-label">Projekt-Manager*</label>
      <div class="col-10 col-md-6">
        <input class="form-control" name="manager" type="text" placeholder="Geben Sie den Projekt-Manager an" id="Manager-input"
          [(ngModel)]="newProject.manager">
      </div>
    </div>
    <!--    Fürs erste deaktiviert
     <div class="form-group row">
      <label for="tags-input" class="col-2 col-form-label">Tags</label>
      <div class="col-10 col-md-6">
             <input class="form-control" type="text" name="tag" data-role="tagsinput" id="tags-input" placeholder="add tags">
      </div>
    </div> -->
    <div class="form-group row">
      <label [ngClass]="mtype === true ? 'missing': ''" for="type_dropdown" class="col-2 col-form-label">Typ*</label>
      <div class="col-10 col-md-6">
        <select [(ngModel)]="newProject.type_id" class="form-control" name="type" id="type_dropdown">
          <option [value]="placeholder_for_dropdown" disabled selected>--- Wählen Sie den Typ des Projekts aus ---</option>
          <option value="---Neuen Projekt-Typen anlegen---">---Neuen Projekt-Typen anlegen---</option>
          <option *ngFor="let type of types" value={{type.id}}>{{type.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="newProject.type_id === '---Neuen Projekt-Typen anlegen---'" class="form-group row">
      <label for="new-type-input" class="col-2 col-form-label">Typ anlegen*</label>
      <div class="col-10 col-md-6">
        <input id="new-type-input" class="form-control" name="manager" type="text" placeholder="Geben Sie den Projekt-Typen an"
          [(ngModel)]="newtypename">
      </div>
    </div>
    <div class="form-group row">
      <label for="picture-input" class="col-2 col-form-label">Bild Hochladen</label>
      <div class="col-10 col-md-6">
        <!-- <input id="new-typ-input" class="form-control" name="manager" type="text" placeholder="Geben Sie den Projekt-Typen an" [(ngModel)]="newtypename"> -->
        <input (change)="uploadFile($event)" type="file" class="form-control-file" id="picture-input">
      </div>
    </div>
    <div class="form-group row btn-wrapper">
      <p class="missing" *ngIf="mmessage === true">Bitte fülle die mit * makierten Felder aus.</p>
      <button id="create_btn" type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="createProject()">Projekt
        anlegen</button>
    </div>
  </form>
</div>