.form_heading {
  font-size: 22px;
  margin-top: 48px;
  font-weight: 300 !important;
  color:rgb(84, 102, 122) !important;
  font-size: 22px !important;  
  position: absolute;
  left: 37.5%;
}

.btn-wrapper {
  text-align: center;
}

#create_btn {
  position: absolute;
  margin-top: 20px;
  left: 40%;
  font-size: 20px;
}

.form-group label {
  font-size: 18px;
}

.col-md-12 {
  margin-left: 2rem;
}

.missing {
  color:red;
}


#picture-input {
  top: 25%;
  position: absolute;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.posrel {
  height: 100px;
  position: relative;
}