<div class="col-md-12">
  <p class="form_heading">Neues Projekt erstellen:</p>
  <form class="form">
    <div class="form-group m-t-40 row">
      <label for="titel-input" class="col-2 col-form-label">Titel</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Geben Sie den Titel für das neue Projekt ein." id="titel-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="startdatum-input" class="col-2 col-form-label">Startdatum</label>
      <div class="col-10">
        <input class="form-control" type="date" placeholder="Geben Sie das Startdatum für das neue Projekt ein." id="startdatum-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="Beschreibung-input" class="col-2 col-form-label">Beschreibung</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Geben Sie eine Beschreibung für das neue Projekt ein." id="Beschreibung-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="Bild-input" class="col-2 col-form-label">Projekt - Bild</label>
      <div class="col-10">
        <input class="form-control" type="file" id="Bild-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="brands_dropdown" class="col-2 col-form-label">Brand</label>
      <div class="col-10">
        <select class="form-control" name="brands" id="brands_dropdown">
                <option value="" disabled selected>---Wählen Sie eine Brand aus:---</option>
                <option value="gurken">Gurken</option>
                <option value="pfefferoni">Pfefferoni</option>
                <option value="spezialitäten">Spezialitäten</option>
                <option value="salate">Salate</option>
                <option value="sauerkraut_rotkraut">Sauerkraut & Rotkraut</option>
          </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="produkt_dropdown" class="col-2 col-form-label">Produkt</label>
      <div class="col-10">
        <select class="form-control" name="produkt" id="produkt_dropdown">
                <option value="" disabled selected>---Wählen Sie ein Produkt aus:---</option>
                <option value="delikatess_gurken">Delikatess Gurken</option>
                <option value="schlemmer_gurken">Schlemmer Gurken</option>
                <option value="gewürz_gurken">Gewürz Gurken</option>
                <option value="pfefferoni">Pfefferoni</option>
                <option value="krach_pfefferoni">Krach-Pfefferoni</option>
                <option value="chillimix">Chili Mix</option>
                <option value="silber_zwiebeln">Silber Zwiebeln</option>
                <option value="knoblauch">Knoblauch</option>
                <option value="maiskölbchen">Maiskölbchen</option>
                <option value="roterüben">Rote Rüben</option>
                <option value="pußtasalat">Pußta Salat</option>
                <option value="krautsalat">Kraut Salat</option>
                <option value="delissasauerkraut">Delissa Sauerkraut</option>
                <option value="bratwürstelsauerkraut">Bratwürstel Sauerkraut</option>
                <option value="rotkrautmitäpfeln">Rotkraut mit Äpfeln</option>
          </select>
      </div>
    </div>
    <div class="form-group row btn-wrapper">

      <button id="create_btn" type="submit" class="btn btn-success waves-effect waves-light m-r-10">Projekt anlegen</button>

    </div>
  </form>
</div>