#wrapper {
  text-align:center;
  text-transform:uppercase;
}
h1 {
  padding-top:30px;
  font-size:25px;
  letter-spacing:15px;
  color: #3AB09E;
}
#toolbar {
  width:100%;
  max-width:670px;
  min-width:550px;
  margin: 0 auto;
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3AB09E;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  position: relative;
  left: 50%;
  margin-left: -35px;
  z-index: 1;
}
.button,.icons{
  -webkit-transition: -webkit-all 1s cubic-bezier(.87,-.41,.19,1.44);
          transition:  all 1s cubic-bezier(.87,-.41,.19,1.44);
}
.button:after {
  content:"+";
}
.button.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left:60px;
}
.icons {
  width:0%;
  overflow:hidden;
  height:36px;
  list-style:none;
  padding: 4px 10px 10px 50px;
  background-color:#ffffff;
  box-shadow: 1px 1px 1px 1px #DCDCDC;
  margin:-42px 0 0 45%;
  border-radius: 2em;
}
.icons.open {
  width:80%;
  margin:-42px 0 0 5%;
  overflow:hidden;
}
.icons.open .fa {
  font-size: 1.5rem;
}
.icons li {
  display: none;
  width:10%;
  color:#3AB09E;
}
.icons.open li {
  width:16%;
  display: inline-block;
}



.tools {
  overflow:hidden;
  list-style:none;
  padding: 6px 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #DCDCDC;
  border-radius: .2rem;
  margin-bottom: 0;
}
.tools .fa {
  font-size: 1.5rem;
}
.tools li {
  cursor: pointer;
  display: inline-block;
  padding: 0 1rem;
  color:#9D9D9D;
}



.svg-container {
  width: 100%;
  height: 100%;
}
#svg-id {

}
.comment-wrapper {
  border-left: 1px solid #DDD;
}
.comment-date {
  font-size: .8rem;
  margin-top: .4rem;
}
