<div class="row">
  <div class="col-md-12 projects_content_section">
    <div class="row">
      <div class="side_bar col-md-2">
        <div>
          <ul>
            <li>
              <div>
                <span class="side_bar-filter">Filter:</span>
              </div>
            </li>
          </ul>
          <ul class="side_bar-filter-brand">
            <li>
              <div class="side_bar-checkbox-header">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
          </ul>
          <!-- new set -->
          <ul class="side_bar-filter-status">
            <li>
              <div class="side_bar-checkbox-header">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-10">
        <div class="brand_content_section">
          <div class="brand_content_section--header">
            <p class="brand_content_section-name">Projects </p>

            <button class="brand_content_section-createbtn" type="button" name="button">
              <i class="zmdi zmdi-plus-circle"></i>
              <a href="/project-create"><label>Create</label></a>
            </button>
          </div>


          <div *ngFor="let project of projects" class="brand_content_section--list-data">
            <div class="content_section_list">
              <div class="content_section_list--date">
                <img src={{project.img_url}} alt="preview" class="projects_image_preview">
                <div class="project_description">
                  <label class="project_description-header">{{project.title}}</label>
                  <div class="project_description_list">

                    <label>Project Nr:</label>
                    <span>{{project.id}}</span>
                  </div>
                  <div class="project_description_list">
                    <label>Creation Date:</label>
                    <span>{{project.init_date}}</span>
                  </div>                  
                  <div class="project_description_list">
                    <label>Brand:</label>
                    <span>{{project.brand_id}}</span>
                  </div>
                  <div class="project_description_list">
                    <label>Description:</label>
                    <span>{{project.description}}</span>
                  </div>
                  <div class="project_description_list">
                    <label>Product:</label>
                    <span>{{project.product_id}}</span>
                  </div>
                  <div class="project_description_list">
                    <label>Organisation:</label>
                    <span>{{project.organisation_id}}</span>
                  </div>
                </div>
              </div>
              <div class="content_section_list--meter">
                <div class="content_section_list--meterdiagram">
                  <img src="../../assets/images/meter.png" width="165px" alt="meter">
                </div>
                <div class="content_section_list-version">
                  <button>View Version
                    <i class="zmdi zmdi-caret-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class=" content_section_list-border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>