<form class="form-horizontal form-material" id="loginform" action="index.html">
  <img class="login-logo" src="../assets/images/logo.png" />
  <!--<h3 class="box-title m-b-20">Sign In</h3>-->
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="text" required="" placeholder="Vorname"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="text" required="" placeholder="Nachname"> </div>
  </div>
  <div class="form-group ">
    <div class="col-xs-12">
      <input class="form-control" type="text" required="" placeholder="Username"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="email" required="" placeholder="Email"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="password" required="" placeholder="Password"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="password" required="" placeholder="Password wiederholen"> </div>
  </div>
  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Register</button>
    </div>
  </div>
</form>