<form class="form-horizontal form-material" id="loginform" action="index.html">
  <img class="login-logo" src="../assets/images/logo.png" />
  <!--<h3 class="box-title m-b-20">Sign In</h3>-->
  <div class="form-group ">
    <div class="col-xs-12">
      <input class="form-control" type="email" name="email" placeholder="Deine Email-Adresse" [(ngModel)]="user.email"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="password" name="newpw" placeholder="Neues Passwort" [(ngModel)]="user.newpw"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="password" name="newpw2" placeholder="Neues Passwort wiederholen" [(ngModel)]="user.newpw2"> </div>
  </div>

  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <button (click)="onClick()" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Passwort zurücksetzen</button>
    </div>
  </div>
</form>