<form class="form-horizontal form-material" id="loginform" action="index.html">
  <div class="form-group ">
    <div class="col-xs-12">
      <p *ngIf="show" style="color: red;">Passwords are not identical!</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="password" name="newpw" placeholder="Neues Passwort" [(ngModel)]="user.newpw"> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" type="password" name="newpw2" placeholder="Neues Passwort wiederholen" [(ngModel)]="user.newpw2"> </div>
  </div>

  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <button (click)="onClick()" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" id="authbutton" type="submit">Passwort zurücksetzen</button>
    </div>
  </div>
</form>