<div class="row">
  <div class="col-md-12 projects_content_section">
    <div class="row">
      <div class="side_bar col-md-2">
        <div>
          <ul>
            <li>
              <div>
                <span class="side_bar-filter">Filter:</span>
              </div>
            </li>
          </ul>
          <ul class="side_bar-filter-brand">
            <li>
              <div class="side_bar-checkbox-header">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Brand
                </label>
              </div>
            </li>
          </ul>
          <!-- new set -->
          <ul class="side_bar-filter-status">
            <li>
              <div class="side_bar-checkbox-header">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> Status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
            <li>
              <div class="side_bar-checkbox-subheader">
                <label class="side_bar-checkbox-label">
                  <input class="" type="checkbox" id="inlineCheckbox1" value="option1"> status
                </label>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-10">
        <div class="brand_content_section">
          <div class="brand_content_section--header">
            <p class="brand_content_section-name">Projects </p>

            <button class="brand_content_section-createbtn" type="button" name="button">
              <i class="zmdi zmdi-plus-circle"></i>
              <label>Create</label>
            </button>
          </div>
          <div class="brand_content_section--buttons">
            <button type="button" name="button">Brand</button>
            <button type="button" name="button">Brand</button>
            <button type="button" name="button">Brand</button>
            <button type="button" name="button">Brand</button>
          </div>
          <div class="brand_content_section--list-data">
            <div class="content_section_list">
              <div class="content_section_list--date">
                <img src="./assets/images/second-image.png" alt="preview" class="projects_image_preview">
                <div class="project_description">
                  <label class="project_description-header">Glamour Perfection</label>
                  <div class="project_description_list">
                    <label>Project Nr:</label>
                    <span>123456778</span>
                  </div>
                  <div class="project_description_list">
                    <label>Contact:</label>
                    <span>
                      <img class="project_description_list-contactimg" src="../../assets/images/Image 145.png" />Mr.Mustad</span>
                  </div>
                  <div class="project_description_list">
                    <label>Creation Date:</label>
                    <span>01.01.2018</span>
                  </div>
                  <div class="project_description_list">
                    <label>Last Edit:</label>
                    <span>02.01.2018</span>
                  </div>
                  <div class="project_description_list">
                    <label>Dead Line:</label>
                    <span>11.05.2018</span>
                  </div>
                  <div class="project_description_list">
                    <label>Brand:</label>
                    <span>Brand / subbrand</span>
                  </div>
                  <div class="project_description_list">
                    <label>Languages:</label>
                    <span>SI, CZ, HU, PL</span>
                  </div>
                  <div class="project_description_list">
                    <label>Packaging Type:</label>
                    <span>deodrants</span>
                  </div>
                  <div class="project_description_list">
                    <label>Packaging Size:</label>
                    <span>200ml</span>
                  </div>
                  <div class="project_description_list">
                    <label>File:</label>
                    <span>
                      <img class="project_description_list-fileimage" src="../../assets/images/Ellipse 10.png" width="21px" height="21px" />transaction.xls</span>
                  </div>
                  <div class="project_description_list">
                    <label>Version:</label>
                    <span>1 2 3 4</span>
                  </div>
                </div>
              </div>
              <div class="content_section_list--meter">
                <div class="content_section_list--meterdiagram">
                  <img src="../../assets/images/meter.png" width="165px" alt="meter">
                </div>
                <div class="content_section_list-moreinfo">
                  <button>More info
                    <i class="zmdi zmdi-caret-right"></i>
                  </button>
                </div>
                <div class="content_section_list-version">
                  <button>View Version
                    <i class="zmdi zmdi-caret-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class=" content_section_list-border"></div>
            <!-- example new section -->
            <div class="content_section_list">
              <div class="content_section_list--date">
                <img src="./assets/images/second-image.png" alt="preview" class="projects_image_preview">
                <div class="project_description">
                  <label class="project_description-header">Glamour Perfection</label>
                  <div class="project_description_list">
                    <label>Project Nr:</label>
                    <span>123456778</span>
                  </div>
                  <div class="project_description_list">
                    <label>Contact:</label>
                    <span>
                      <img class="project_description_list-contactimg" src="../../assets/images/Image 145.png" />Mr.Mustad</span>
                  </div>
                  <div class="project_description_list">
                    <label>Creation Date:</label>
                    <span>01.01.2018</span>
                  </div>
                  <div class="project_description_list">
                    <label>Last Edit:</label>
                    <span>02.01.2018</span>
                  </div>
                  <div class="project_description_list">
                    <label>Dead Line:</label>
                    <span>11.05.2018</span>
                  </div>
                  <div class="project_description_list">
                    <label>Brand:</label>
                    <span>Brand / subbrand</span>
                  </div>
                  <div class="project_description_list">
                    <label>Languages:</label>
                    <span>SI, CZ, HU, PL</span>
                  </div>
                  <div class="project_description_list">
                    <label>Packaging Type:</label>
                    <span>deodrants</span>
                  </div>
                  <div class="project_description_list">
                    <label>Packaging Size:</label>
                    <span>200ml</span>
                  </div>
                  <div class="project_description_list">
                    <label>File:</label>
                    <span>
                      <img class="project_description_list-fileimage" src="../../assets/images/Ellipse 10.png" width="21px" height="21px" />transaction.xls</span>
                  </div>
                  <div class="project_description_list">
                    <label>Version:</label>
                    <span>1 2 3 4</span>
                  </div>
                </div>
              </div>
              <div class="content_section_list--meter">
                <div class="content_section_list--meterdiagram">
                  <img src="../../assets/images/meter.png" width="165px" alt="meter">
                </div>
                <div class="content_section_list-moreinfo">
                  <button>More info
                    <i class="zmdi zmdi-caret-right"></i>
                  </button>
                </div>
                <div class="content_section_list-version">
                  <button>View Version
                    <i class="zmdi zmdi-caret-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
