<div class="container-fluid dashboard-messages">
  <p class="dashboard-login-message">Martin, welcome to approve it. </p>
  <span class="dashboard-page-name">Messages</span>
  <!-- row for table  -->
  <div class="row dashboard_section_view">
    <div class="open_projects">
      <div class="open_projects-name">Open Projects</div>
      <table id="open_projects-table" class="table  table-bordered">
        <thead>
          <tr class="open_projects-table-header">
            <th>#</th>
            <th>PROJECT NAME</th>
            <th>PACKAGING</th>
            <th>BRAND</th>
            <th>STATUS</th>
            <th>LAST CHANGE</th>
            <th>DEADLINE</th>
          </tr>
        </thead>
        <tbody class="open_projects-table-content">
          <tr>
            <td>1</td>
            <td>System Architect</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>$170,750</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009/01/12</td>
            <td>$86,000</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="status_overview">
      <span class="status_overview-name">Status Overview</span>
      <!-- <div mk-morris-js [options]="chartDonutOptions" [data]="chartDonutData" type="Donut"></div> -->
      <div style="display: block">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="status_overview-projects">15 projects successfully closed(click to open)</div>
    </div>
  </div>

  <!-- row for table  -->
  <!-- Row -->
  <div class="row message_overview_section">
    <div class="message_container">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title card-message-title">Recent Activity</h4>
            <div class="message-box">
              <div class="message-widget message-scroll">
                <!-- Message -->
                <a href="#">
                  <div class="user-img">
                    <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/1.jpg" alt="user" class="img-circle">
                    <span class="profile-status online pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Pavan kumar</h5>
                    <span class="mail-desc">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem
                                            Ipsum has been.</span>
                    <span class="time">9:30 AM</span>
                  </div>
                </a>
                <!-- Message -->
                <a href="#">
                  <div class="user-img">
                    <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/2.jpg" alt="user" class="img-circle">
                    <span class="profile-status busy pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Sonu Nigam</h5>
                    <span class="mail-desc">I've sung a song! See you at</span>
                    <span class="time">9:10 AM</span>
                  </div>
                </a>
                <!-- Message -->
                <!-- <a href="#">
                                    <div class="user-img">
                                        <span class="round">A</span>
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5>
                                        <span class="mail-desc">Simply dummy text of the printing and typesetting industry.</span>
                                        <span class="time">9:08 AM</span>
                                    </div>
                                </a> -->
                <!-- Message -->
                <!-- <a href="#">
                                    <div class="user-img">
                                        <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/4.jpg" alt="user" class="img-circle">
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span>
                                        <span class="time">9:02 AM</span>
                                    </div>
                                </a> -->
                <!-- Message -->
                <!-- <a href="#">
                                    <div class="user-img">
                                        <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/1.jpg" alt="user" class="img-circle">
                                        <span class="profile-status online pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Welcome to the Elite Admin</span>
                                        <span class="time">9:30 AM</span>
                                    </div>
                                </a> -->
                <!-- Message -->
                <!-- <a href="#">
                                    <div class="user-img">
                                        <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/2.jpg" alt="user" class="img-circle">
                                        <span class="profile-status busy pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5>
                                        <span class="mail-desc">I've sung a song! See you at</span>
                                        <span class="time">9:10 AM</span>
                                    </div>
                                </a> -->
                <!-- Message -->
                <!-- <a href="#">
                                    <div class="user-img">
                                        <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/3.jpg" alt="user" class="img-circle">
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5>
                                        <span class="mail-desc">I am a singer!</span>
                                        <span class="time">9:08 AM</span>
                                    </div>
                                </a> -->
                <!-- Message -->
                <!-- <a href="#">
                                    <div class="user-img">
                                        <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/4.jpg" alt="user" class="img-circle">
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span>
                                        <span class="time">9:02 AM</span>
                                    </div>
                                </a> -->
              </div>
            </div>
          </div>
          <!-- <div class="card-body b-t">
          <div class="row">
            <div class="col-8">
              <textarea placeholder="Type your message here" class="form-control b-0"></textarea>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-info btn-circle btn-lg">
                <i class="fa fa-paper-plane-o"></i>
              </button>
            </div>
          </div>
        </div> -->
        </div>
      </div>
    </div>
    <div class="recent_activity_screen">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title card-message-title">Recent Messages</h4>

            <div class="chat-box">
              <!--chat Row -->
              <ul class="chat-list">
                <!--chat Row -->
                <li>
                  <div class="chat-img">
                    <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/1.jpg" alt="user" />
                  </div>
                  <div class="chat-content">
                    <h5>James Anderson</h5>
                    <div class="box bg-light-info">Lorem Ipsum is simply dummy text of the printing & type setting industry.</div>
                  </div>
                  <div class="chat-time">10:56 am</div>
                </li>
                <!--chat Row -->
                <li>
                  <div class="chat-img">
                    <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/2.jpg" alt="user" />
                  </div>
                  <div class="chat-content">
                    <h5>Bianca Doe</h5>
                    <div class="box bg-light-success">It’s Great opportunity to work.</div>
                  </div>
                  <div class="chat-time">10:57 am</div>
                </li>
                <!--chat Row -->
                <!--chat Row -->

                <li>
                  <div class="chat-img">
                    <img src="https://wrappixel.com/demos/admin-templates/monster-admin/assets/images/users/3.jpg" alt="user" />
                  </div>
                  <div class="chat-content">
                    <h5>Angelina Rhodes</h5>
                    <div class="box bg-light-primary">Well we have good budget for the project</div>
                  </div>
                  <div class="chat-time">11:00 am</div>
                </li>
                <!--chat Row -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Row -->
</div>